In [1]:
import pandas as pd

In [2]:
# Import the CSV file and create a DataFrame.
player_df_final = pd.read_csv('player_data_final.csv')

In [3]:
# Create a DataFrame of only Tune Squad players.
ts_df = player_df_final.iloc[26: , :]
ts_df

,ID,player,points,possessions,team_pace,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,PER
26,31,tune_squad1,2049.0,1434.0,110.0,64.000000,38.800000,0.619,31.5,14.9,35.5,8.3,17.6,12.8,28.440000
27,32,tune_squad2,1795.0,1481.8,112.1,62.000000,35.400000,0.608,31.9,14.5,32.0,6.5,22.5,12.9,23.340000
28,33,tune_squad3,1805.0,1509.9,108.6,64.000000,35.400000,0.622,27.9,13.9,36.0,5.9,27.7,12.2,22.410000
29,34,tune_squad4,1743.0,1422.4,112.9,64.000000,36.300000,0.619,30.9,15.6,34.5,5.9,18.9,14.8,29.853138
30,35,tune_squad5,1963.0,1539.1,117.4,59.771429,35.208333,0.633,32.3,16.2,34.0,5.9,19.8,13.1,27.160000
31,36,tune_squad6,2062.0,1505.7,111.5,59.771429,37.000000,0.620,29.8,15.6,36.2,4.9,23.9,14.7,27.860000
32,37,tune_squad7,1845.0,1435.7,113.1,69.000000,36.900000,0.634,33.2,14.0,36.5,4.1,21.5,16.4,34.260000
33,38,tune_squad8,1778.0,1526.4,109.3,66.000000,34.900000,0.612,30.6,15.9,35.9,5.5,18.8,13.7,28.650000
34,39,tune_squad9,1901.0,1444.1,109.7,67.000000,36.500000,0.609,27.2,14.8,35.5,5.0,21.8,8.9,20.120000
35,41,tune_squad11,2030.0,1431.0,112.3,68.000000,37.000000,0.618,32.5,15.3,34.5,5.7,15.7,13.2,30.070000
36,42,tune_squad12,1631.0,1465.7,110.1,66.000000,37.500000,0.613,28.4,14.4,35.7,6.5,20.7,14.0,28.400000
37,43,tune_squad13,1828.0,1507.2,112.7,64.000000,36.500000,0.618,31.3,14.0,34.9,5.9,21.3,14.5,29.094310
38,44,tune_squad14,1821.0,1443.7,118.8,66.000000,36.600000,0.609,27.3,13.5,35.8,7.0,23.8,11.5,22.960000
39,45,tune_squad15,1740.0,1443.9,114.1,68.000000,37.100000,0.611,26.6,15.2,29.3,8.3,17.7,11.1,21.220000
40,46,tune_squad16,1993.0,1459.0,112.5,59.771429,36.900000,0.627,30.4,15.0,33.7,6.3,19.3,14.1,28.760000

In [4]:
# Import Tune Squad player names.
ts_name_df = pd.read_csv('tune_squad.csv', sep='\t')
ts_name_df

    ID              player
0   31           Sylvester
1   32  Marvin the Martian
2   33         Road Runner
3   34     Foghorn Leghorn
4   35          Bugs Bunny
5   36          Elmer Fudd
6   37          Lola Bunny
7   38           Porky Pig
8   39     Tasmanian Devil
9   40        Yosemite Sam
10  41            Gossamer
11  42              Granny
12  43      Wile E. Coyote
13  44              Tweety
14  45            Penelope
15  46          Daffy Duck

In [5]:
# Merge the two DataFrames.
ts_df = pd.merge(ts_df, ts_name_df, on='ID', how='left', suffixes=('_type', '_name'))
ts_df.head()

,ID,player_type,points,possessions,team_pace,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,PER,player_name
0,31,tune_squad1,2049.0,1434.0,110.0,64.000000,38.800000,0.619,31.5,14.9,35.5,8.3,17.6,12.8,28.440000,Sylvester
1,32,tune_squad2,1795.0,1481.8,112.1,62.000000,35.400000,0.608,31.9,14.5,32.0,6.5,22.5,12.9,23.340000,Marvin the Martian
2,33,tune_squad3,1805.0,1509.9,108.6,64.000000,35.400000,0.622,27.9,13.9,36.0,5.9,27.7,12.2,22.410000,Road Runner
3,34,tune_squad4,1743.0,1422.4,112.9,64.000000,36.300000,0.619,30.9,15.6,34.5,5.9,18.9,14.8,29.853138,Foghorn Leghorn
4,35,tune_squad5,1963.0,1539.1,117.4,59.771429,35.208333,0.633,32.3,16.2,34.0,5.9,19.8,13.1,27.160000,Bugs Bunny

In [6]:
# Rearrange the columns to put the ID and player_name columns next to each other.
column_list = list(ts_df)

player_name = column_list.pop()
column_list[1] = player_name

ts_df = ts_df[column_list]
ts_df.head()

,ID,player_name,points,possessions,team_pace,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,PER
0,31,Sylvester,2049.0,1434.0,110.0,64.000000,38.800000,0.619,31.5,14.9,35.5,8.3,17.6,12.8,28.440000
1,32,Marvin the Martian,1795.0,1481.8,112.1,62.000000,35.400000,0.608,31.9,14.5,32.0,6.5,22.5,12.9,23.340000
2,33,Road Runner,1805.0,1509.9,108.6,64.000000,35.400000,0.622,27.9,13.9,36.0,5.9,27.7,12.2,22.410000
3,34,Foghorn Leghorn,1743.0,1422.4,112.9,64.000000,36.300000,0.619,30.9,15.6,34.5,5.9,18.9,14.8,29.853138
4,35,Bugs Bunny,1963.0,1539.1,117.4,59.771429,35.208333,0.633,32.3,16.2,34.0,5.9,19.8,13.1,27.160000

In [15]:
# Create a list of only the column names we are interested in.
game_stat_cols = list(ts_df.iloc[:, 7:-1])
game_stat_stdevs = []

# Create a list of standard deviations for each stat.
for stat in game_stat_cols:
    game_stat_stdevs.append(ts_df[stat].std())

# Create a Series of the standard deviations, with the stat names as the index.
stdev_s = pd.Series(game_stat_stdevs, index=game_stat_cols)
stdev_s

TS%     0.008262
AST     2.140494
TO      0.797197
USG     1.892718
ORR     1.139465
DRR     3.017962
REBR    1.802564
dtype: float64

In [16]:
# Import the models and libraries we need.
from sklearn.linear_model import LinearRegression
from numpy.random import randn

# Get the dependent and independent variables for modeling the PER.
X = player_df_final.iloc[:, 7:-1].to_numpy()
y = player_df_final.iloc[:, -1]

In [17]:
# Define and fit the model.
lin_reg = LinearRegression()
lin_reg.fit(X, y)

LinearRegression()

In [19]:
# Print the player with the highest and lower PER for each iteration.
print('Iteration # \thigh PER \tlow PER')

# Run the simulation 10 times.
for i in range(10):

    # Define an empty temporary DataFrame for each iteration.
    # The columns of this DataFrame are the player stats and the index is the players' names.
    game_df = pd.DataFrame(columns=game_stat_cols, index=list(ts_df['player_name']))
    
    # Loop through each stat.
    for stat in game_stat_cols:
        
        # Each player's stats are used to generate a random value for each iteration.
        game_df[stat] = list(ts_df[stat] + randn(len(ts_df)) * stdev_s[stat])
    
    # Use the fitted model to predict players' PERs based on the randomized data.
    game_df['PER'] = lin_reg.predict(game_df)

    # Print the player with the highest and lower PER for each iteration.
    print('Iteration {}'.format(i+1) + ' \t' + game_df['PER'].idxmax() + ' \t' + game_df['PER'].idxmin())

Iteration # 	high PER 	low PER
Iteration 1 	Gossamer 	Road Runner
Iteration 2 	Lola Bunny 	Tweety
Iteration 3 	Elmer Fudd 	Tasmanian Devil
Iteration 4 	Lola Bunny 	Tasmanian Devil
Iteration 5 	Sylvester 	Tasmanian Devil
Iteration 6 	Lola Bunny 	Penelope
Iteration 7 	Foghorn Leghorn 	Tasmanian Devil
Iteration 8 	Lola Bunny 	Penelope
Iteration 9 	Lola Bunny 	Tasmanian Devil
Iteration 10 	Porky Pig 	Road Runner

In [20]:
# Initialize four empty DataFrames, one for each 12-minute period.
number_of_iterations = 4
df_list = [pd.DataFrame(columns=game_stat_cols, index=list(ts_df['player_name'])) for i in range(number_of_iterations)]

# For each period, generate randomized player data and predict the PER.
# Use the model fitted earlier.
for df in df_list:
    for stat in game_stat_cols:
        df[stat] = list(ts_df[stat] + randn(len(ts_df)) * stdev_s[stat])
    df['PER'] = lin_reg.predict(df)

# Concatenate the DataFrames and make the players' names the index.
game_df = pd.concat(df_list)
game_df.rename_axis('player_name', inplace=True)

# Create another index for the period in question.
minutes = [(x // len(ts_df)) * 12 for x in range(len(game_df))]
game_df['minutes'] = minutes
game_df.set_index('minutes', append=True, inplace=True)
game_df = game_df.swaplevel()

game_df

                                 TS%        AST         TO        USG  \
minutes player_name
0       Sylvester           0.638681  30.539931  12.583566  35.489589
        Marvin the Martian  0.623054  31.236330  14.234630  31.533243
        Road Runner         0.632317  24.766575  13.535417  35.335213
        Foghorn Leghorn     0.636170  33.338510  16.161300  33.408125
        Bugs Bunny          0.647826  37.624818  15.481553  31.719802
        Elmer Fudd          0.633166  29.794547  16.294583  35.927466
        Lola Bunny          0.646274  33.281081  14.038202  37.008274
        Porky Pig           0.621557  29.793370  16.064254  33.640560
        Tasmanian Devil     0.601418  26.989946  15.709606  35.025636
        Gossamer            0.605593  33.854847  15.722005  33.471171
        Granny              0.603560  31.545176  13.778105  38.367371
        Wile E. Coyote      0.616746  30.475042  13.737512  36.527596
        Tweety              0.601596  25.481188  12.612527  33.670393
        Penelope            0.613745  29.495364  15.543901  29.614696
        Daffy Duck          0.622530  27.314383  14.366987  34.813943
12      Sylvester           0.621245  31.512700  14.344186  35.826384
        Marvin the Martian  0.612466  28.620594  15.424517  31.519691
        Road Runner         0.623560  27.679144  14.070045  35.096273
        Foghorn Leghorn     0.624151  31.957089  15.735147  34.931186
        Bugs Bunny          0.640756  29.795374  16.968219  34.130512
        Elmer Fudd          0.637141  27.268220  14.613065  37.514513
        Lola Bunny          0.630100  32.040660  14.789232  34.799303
        Porky Pig           0.632431  32.065482  15.978649  37.668614
        Tasmanian Devil     0.603405  29.556486  14.430741  36.251101
        Gossamer            0.611372  36.199458  14.928649  36.589309
        Granny              0.617599  29.969162  14.065473  36.355645
        Wile E. Coyote      0.608221  31.853108  13.217985  36.938597
        Tweety              0.615517  22.747275  14.265163  35.873379
        Penelope            0.616301  30.055739  14.592720  30.907706
        Daffy Duck          0.622948  28.766522  13.337142  34.808614
24      Sylvester           0.631439  32.911163  15.539304  35.955008
        Marvin the Martian  0.613769  32.337583  14.781605  30.045041
        Road Runner         0.624039  28.850304  14.119480  37.463171
        Foghorn Leghorn     0.625401  34.548823  16.984965  31.880950
        Bugs Bunny          0.642453  29.675290  14.613848  33.354394
        Elmer Fudd          0.622630  30.242872  16.144276  34.943104
        Lola Bunny          0.640374  35.511167  14.949334  35.649472
        Porky Pig           0.624163  29.235928  15.795157  35.545816
        Tasmanian Devil     0.614005  25.413340  14.279560  37.136440
        Gossamer            0.628731  33.422669  15.434737  37.488722
        Granny              0.602897  24.512683  14.612865  34.194713
        Wile E. Coyote      0.626138  30.179964  13.152665  35.120419
        Tweety              0.602143  29.379987  14.248361  39.049007
        Penelope            0.590281  23.422602  14.857472  30.062904
        Daffy Duck          0.643495  30.735767  14.713310  34.303657
36      Sylvester           0.623597  31.139392  16.608371  35.035550
        Marvin the Martian  0.609324  32.028437  13.720349  28.318418
        Road Runner         0.628317  29.733859  13.468182  35.387468
        Foghorn Leghorn     0.619571  31.092724  15.256231  33.850101
        Bugs Bunny          0.618091  33.352845  15.732791  34.438582
        Elmer Fudd          0.624435  32.449556  15.384797  36.092361
        Lola Bunny          0.635277  32.246903  13.832569  35.222484
        Porky Pig           0.609656  33.508735  16.252626  38.216047
        Tasmanian Devil     0.605159  30.932873  14.858651  35.944726
        Gossamer            0.609143  32.904959  15.702031  30.769868
        Granny              0.616743  28.133454  14.638435  33.776971
        Wile E. Coyote      0.608306  32.248663  13.832580  36.316836
        Tweety              0.619355  26.167469  14.739020  32.000989
        Penelope            0.611715  27.595263  14.422959  26.676074
        Daffy Duck          0.645834  33.199047  13.161033  33.200626

                                  ORR        DRR       REBR        PER
minutes player_name
0       Sylvester            7.583018  11.305295  14.884678  37.612489
        Marvin the Martian   5.856121  22.520033  13.624343  25.240080
        Road Runner          7.165176  23.711334   9.401461  20.869181
        Foghorn Leghorn      4.079312  19.697552  17.574763  33.923342
        Bugs Bunny           5.561812  19.872363  12.723803  27.161474
        Elmer Fudd           3.635112  22.370599  12.130627  25.737395
        Lola Bunny           3.505248  14.207549  16.423981  39.777892
        Porky Pig            7.343973  15.636641  11.437717  26.112781
        Tasmanian Devil      4.686712  24.556603   9.727503  18.484681
        Gossamer             6.872733  11.714807  11.373225  28.150033
        Granny               6.573764  23.673543  16.130865  31.092309
        Wile E. Coyote       4.847079  15.997787  13.934743  32.798406
        Tweety               9.122658  21.699904  11.041276  21.736624
        Penelope            10.325199  25.662627  15.094328  21.633112
        Daffy Duck           6.727385  17.595875  14.734220  31.088155
12      Sylvester            5.423085  23.546785  12.991393  26.268991
        Marvin the Martian   5.952537  21.384297   9.369440  18.483022
        Road Runner          5.744638  30.461187  13.432678  21.987607
        Foghorn Leghorn      6.231978  23.236183  14.928294  27.846321
        Bugs Bunny           3.713712  19.459893  12.471959  26.975876
        Elmer Fudd           3.420657  22.707106  12.939285  28.569017
        Lola Bunny           3.151114  29.381067  16.970120  28.441698
        Porky Pig            6.108925  21.177534  10.929302  25.588017
        Tasmanian Devil      3.568165  22.101498  10.266720  22.845645
        Gossamer             5.451957  13.165421  10.828612  29.720882
        Granny               7.836269  22.689636  16.101338  30.623560
        Wile E. Coyote       6.674969  20.982506  13.096272  28.272959
        Tweety               8.095218  21.256040  12.171691  24.763042
        Penelope             9.339758  21.688424   8.586831  16.813512
        Daffy Duck           6.163297  21.170469  12.985368  27.324081
24      Sylvester            8.056833  18.538871  12.158367  27.684093
        Marvin the Martian   5.056031  23.547987  13.251105  22.669959
        Road Runner          5.899136  30.481933  10.424194  19.292653
        Foghorn Leghorn      6.217684  20.526331  15.202300  27.712766
        Bugs Bunny           8.612604  21.689762  14.019851  27.442601
        Elmer Fudd           4.936060  25.000924  15.228037  27.018964
        Lola Bunny           4.600171  24.722892  18.518192  34.458917
        Porky Pig            5.726943  15.361432  16.453959  35.036732
        Tasmanian Devil      5.446724  23.984867   8.503165  19.570013
        Gossamer             5.898695  18.705458  15.899835  34.189169
        Granny               6.512218  17.113709  15.450682  30.533952
        Wile E. Coyote       6.271266  20.466104  13.223679  28.674180
        Tweety               7.343796  25.519504  12.053256  23.948507
        Penelope             6.518653  16.001392   9.190640  19.095132
        Daffy Duck           5.841180  18.549535  13.616363  30.200493
36      Sylvester            8.971694  18.382518  14.049439  28.410053
        Marvin the Martian   6.374064  22.884800  12.819969  21.423778
        Road Runner          5.774420  23.033272  11.056110  24.264638
        Foghorn Leghorn      3.827285  16.813948  14.281461  30.803324
        Bugs Bunny           4.838313  15.609378  12.409926  28.923241
        Elmer Fudd           5.649232  24.887506  11.844271  23.643813
        Lola Bunny           3.065202  23.724401  15.155831  30.549531
        Porky Pig            5.257237  15.638361  13.681017  32.073043
        Tasmanian Devil      3.630864  22.651432  10.757422  22.984181
        Gossamer             5.331935  17.925604   9.720439  20.897194
        Granny               5.448464  20.340732  13.142272  26.478028
        Wile E. Coyote      11.892234  22.876138  14.452752  27.002589
        Tweety               6.886244  23.884628   9.645107  17.903072
        Penelope             8.661133  13.850077  11.548163  23.006456
        Daffy Duck           7.011125  21.381158  14.171643  29.501532

In [21]:
# Export the finished DataFrame to CSV.
game_df.to_csv('game_stats.csv')